# dependencies
node_modules/

# output
out/
dist/
*.tgz

# code coverage
coverage/
*.lcov

# logs
logs/
*.log
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache/
*.tsbuildinfo

# TypeScript
*.tsbuildinfo

# Bun
bun.lockb

# IntelliJ based IDEs
.idea/

# VSCode
.vscode/

# Cursor
.cursor/

# Finder (MacOS) folder config
.DS_Store

# local working directory
.local/

# temporary files
tmp/
temp/

# test artifacts
.nyc_output/

# build artifacts
*.js.map
*.d.ts.map
